@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap');
body {
    background-image: url("img/imggg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #000000;
}
.title {
    font-size: 7rem;
        text-align: center;
        font-family: 'Grenze Gotisch', cursive;
        color: white;
        margin-top: 5rem;
        text-decoration: none;
}

#content {
    margin-left: 2rem;
    margin-left: 2rem;
}

.subject {
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    margin-bottom: 0rem;
    color: white;
}

.detail {
    font-size: 1rem;
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: white
}

p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: white;
    text-align: center;
}

.sector {
    margin-bottom: 6rem;
    margin-top: 8rem;
}

nav {
    margin-top: 8rem;
    margin-bottom: 3rem;
    text-align: center;
}

nav a {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.subtitle {
    font-size: 5rem;
    margin-top: 5rem;
}

.title a{
    text-decoration: none;
    color: white
}